@mixin ease-in-out {
	transition: all 0.5s ease-in-out;
}

@mixin bd-background {
	@if $showHomeImg {
		&#bg-image {
			background: $homeBackgroundImg;
			background-attachment: fixed;
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;

			.overlay {
				position: absolute;
				top: 0;
				right: 0;
				width: 100%;
				height: 100%;
				background-color: $transparent-cover;
				z-index: -1;
			}
		}
	}
}

@mixin navItem_transition_delay {
	@for $x from 1 through 4 {
		.nav-item:nth-child(#{$x}) {
			transition-delay: $x * 0.1s;
		}
	}
}

//Media Queries
@mixin Sm-Devices {
	@media only screen and (max-width: 600px) {
		@content;
	}
}

@mixin Md-Devices {
	@media only screen and (max-width: 800px) {
		@content;
	}
}

@mixin Lg-Devices {
	@media only screen and (max-width: 1800px) {
		@content;
	}
}

@mixin Xl-Devices {
	@media only screen and (min-width: 1801px) {
		@content;
	}
}

//dynamic background-color / color set
@function set-text-color($background-color) {
	@if (lightness($background-color) > 40) {
		@return #000;
	} @else {
		@return #fff;
	}
}

//for sticky footer
@mixin sticky-footer {
	min-height: calc(100vh - 65px);
}
