//Wide Screens
@include Xl-Devices {
	#gallery {
		.container {
			width: 80%;
		}

		.btn {
			display: flex;
			flex-direction: column;
			text-align: center;
			font-size: 1.1rem;
			width: 12rem;
			height: 4.5rem;
		}

		.btn i {
			margin-bottom: 0.2rem;
		}
	}
}

//Desktop & Laptops
@include Lg-Devices {
	#about {
		.bio-image {
			grid-area: bio-img;
			margin: auto;
			border-radius: 50%;
			border: 5px solid $primary-color;
			width: 400px;
			height: 400px;
			padding: 0.5rem;
			margin-left: 1.5rem;
		}

		.job {
			background-color: lighten($dark-color, 5);
			padding: 3rem;
			border-bottom: 8px solid $primary-color;
			border-right: 8px solid $primary-color;
			width: 100%;
			margin: 0 auto 2rem auto;

			h3,
			h4,
			h5,
			p {
				margin: 0.5rem 0;
			}

			h5 {
				font-weight: bold;
			}
		}
	}

	#gallery {
		.container {
			width: 100%;
		}

		.btn {
			display: flex;
			flex-direction: column;
			text-align: center;
			font-size: 0.9rem;
			width: 9rem;
			height: 4rem;
		}

		.btn i {
			margin-bottom: 0.2rem;
		}
	}
}

//Tablets & Small Laptops
@include Md-Devices {
	#home {
		align-items: center;
		text-align: center;

		.lg-heading {
			line-height: 1;
			margin-bottom: 1rem;
		}
	}

	ul.menu-nav,
	div.menu-brand {
		float: none;
		width: 100%;
		min-height: 0;

		&.show {
			transform: translate3d(0, 0, 0);
		}
	}

	.menu-nav {
		height: 75vh;
		transform: translate3d(-100%, 0, 0);
		font-size: 24px;
	}

	.menu-brand {
		height: 25vh;
		transform: translate3d(100%, 0, 0);

		.portrait {
			width: 200px;
			height: 200px;
		}
	}

	#about {
		.about-info {
			.bio-image {
				padding: 0.5rem 0.5rem;
			}

			.bio {
				padding: 0.5rem 1rem;

				p {
					padding: 0.5rem 1rem;
				}
			}

			grid-template-areas:
				'bio-img'
				'bio'
				'job1'
				'job2'
				'job3';

			grid-template-columns: 1fr;
		}
	}

	#gallery {
		h1 {
			margin-top: 1rem;
		}

		.container {
			width: 100%;
			overflow: hidden;
			margin: 1rem 0;
			border: none;
		}

		.grid-gallery {
			grid-template-columns: repeat(2, 1fr);
		}

		.image-details {
			font-size: 1.1rem;
		}

		.btn {
			display: flex;
			flex-direction: column;
			text-align: center;
			font-size: 0.9rem;
			width: 9rem;
			height: 4rem;
		}

		.btn i {
			margin-bottom: 0.2rem;
		}
	}

	#contact {
		&-section-A {
			.lg-heading {
				font-size: 5rem;
			}
			.text-fields {
				display: flex;
				flex-direction: column;
			}

			button[type='submit'] {
				display: block;
				width: 100%;
				margin-top: 0;
			}
		}

		&-section-B {
			.contact-info {
				grid-template-columns: 1fr;
				font-size: 1.5rem;
			}
		}
	}
}

//Small Devices & Phones
@include Sm-Devices {
	#home h1 {
		max-resolution: 10vh;
	}

	#gallery {
		.container {
			width: 100%;
			overflow: hidden;
			margin: 1rem 0;
			border: none;
		}

		.grid-gallery {
			grid-template-columns: 1fr;
		}

		.image-details {
			font-size: 1.4rem;
		}

		.btn {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			font-size: 1.2rem;
			width: 12rem;
			height: 4rem;
		}

		.btn i {
			margin-bottom: 0.5rem;
		}
	}

	#contact {
		&-section-A {
			.lg-heading {
				font-size: 5rem;
			}
			.text-fields {
				display: flex;
				flex-direction: column;
			}

			button[type='submit'] {
				display: block;
				width: 100%;
				margin-top: 0;
			}
		}

		&-section-B {
			.contact-info {
				grid-template-columns: 1fr;
				font-size: 1.5rem;
			}
		}
	}
}
