.menu-btn {
	position: absolute;
	z-index: 3;
	right: 35px;
	top: 35px;
	cursor: pointer;
	@include ease-in-out;

	.btn-line {
		width: 45px;
		height: 5px;
		margin: 0 0 10px 0;
		background-color: #fff;
		@include ease-in-out;
	}

	//Convert into X
	&.close {
		transform: rotate(180deg);

		.btn-line {
			//line one
			&:nth-child(1) {
				transform: rotate(45deg) translate(5px, 5px);
			}

			//line two
			&:nth-child(2) {
				opacity: 0;
			}

			//line three
			&:nth-child(3) {
				transform: rotate(-45deg) translate(15px, -15px);
			}
		}
	}
}
