//Hamburger Menu
.menu-btn {
	position: absolute;
	z-index: 9;
	right: 35px;
	top: 35px;
	cursor: pointer;
	@include ease-in-out;

	.btn-line {
		width: 45px;
		height: 5px;
		margin: 0 0 10px 0;
		background-color: set-text-color($secondary-color);
		@include ease-in-out;
	}

	//Convert into X
	&.close {
		transform: rotate(180deg);

		.btn-line {
			//line one
			&:nth-child(1) {
				transform: rotate(45deg) translate(5px, 5px);
			}

			//line two
			&:nth-child(2) {
				opacity: 0;
			}

			//line three
			&:nth-child(3) {
				transform: rotate(-45deg) translate(15px, -15px);
			}
		}
	}
}

//Menu-Overlay
.menu {
	z-index: 8;
	position: fixed;
	top: 0;
	width: 100%;
	//opacity: 0.9;
	visibility: hidden;
	@include navItem_transition_delay;

	&.show {
		visibility: visible;
	}

	&-brand,
	&-nav {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		float: left;
		width: 50%;
		height: 100vh;
		overflow: hidden;
	}

	&-nav {
		margin: 0;
		padding: 0;
		background-color: lighten($dark-color, 6);
		opacity: 0.97;
		//takes it off the view port upwards
		transform: translate3d(0, -100%, 0);
		@include ease-in-out;

		&.show {
			//Slide from top
			transform: translate3d(0, 0, 0);
		}
	}

	&-brand {
		margin: 0;
		padding: 0;
		background-color: darken($primary-color, 6);
		opacity: 0.97;
		//takes it off the view port downwards
		transform: translate3d(0, 100%, 0);
		@include ease-in-out;

		&.show {
			//Slide from top
			transform: translate3d(0, 0, 0);
		}

		.portrait {
			width: 500px;
			height: 500px;
			background-image: $profile-pic;
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			border-radius: 50%;
			border: solid 8px lighten($dark-color, 6);
			z-index: 4;
		}
	}

	.nav-item {
		transform: translate3d(600px, 0, 0);
		@include ease-in-out;

		&.show {
			//Slide from side
			transform: translate3d(0, 0, 0);
		}

		.nav-link {
			display: inline-block;
			position: relative;
			font-size: 2rem;
			text-transform: uppercase;
			padding: 0.3rem 1rem;
			margin-bottom: 0.5rem;
			font-weight: bold;
			color: set-text-color($secondary-color);
			text-decoration: none;
			@include ease-in-out;
			border: 0.2rem transparent solid;

			&.current {
				color: $primary-color;
				border: 0.2rem solid $primary-color;
			}

			&:hover {
				color: $primary-color;
				border: 0.2rem solid $primary-color;
			}
		}
	}
}
