#contact{
    &-section-A{
        .container{
            width: 80%;
            margin: 0.5rem auto;
            //border: 2px solid white;

            .btn{
                margin-left: 0;
            }
        }
        .text-fields {
                display: grid;
                grid-template-areas:
                    "name email"
                    "subject phone"
                    "message message";
                gap: 1.2rem;
                margin-bottom: 0.5rem;
        
                //Grid Areas
                .name-input {
                    grid-area: name;
                }
        
                .subject-input {
                    grid-area: subject;
                }
        
                .email-input {
                    grid-area: email;
                }
        
                .phone-input {
                    grid-area: phone;
                }
        
                .message-input {
                    grid-area: message;
                    height: 100px;
                }
        
                .text-input {
                    padding: 1rem 1.5rem;
                    border: 4px solid $dark-color;
                    @include ease-in-out;
        
                    &:hover {
                        border-color: $primary-color;
                    }
                }
            }
        
            button[type="submit"] {
                width: 25%;
            }
    }

    &-section-B {
        .contact-info {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            text-align: center;

            div{
                background-color: lighten($dark-color, 5);
                    padding: 5rem;
                    border-bottom: 8px solid $primary-color;
                    border-right: 8px solid $primary-color;
                    width: 80%;
                    margin: 0 auto 2rem auto;

                    i{
                        @include ease-in-out;

                        &:hover{
                            color: $primary-color;
                            transform: scale(1.5);
                        }
                    }
            }
        }

        h3 {
            font-weight: bold;
        }
    }
}