.bar {
	width: 50%;
	height: 0.8rem;
	background-color: $primary-color;
	margin: 1rem 0;
}

.btn {
	background-color: darken($primary-color, 5);
	border: 3px transparent solid;
	border-radius: 5px;
	color: white;
	padding: 15px 15px;
	width: 12rem;
	height: 4rem;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 1.2rem;
	transition: all 0.8s;
	margin: 0 1rem;

	&:hover {
		border: 3px solid #fff;
	}
}

//padding classes
.py {
	&-1 {
		padding: 1rem 0;
	}

	&-2 {
		padding: 2rem 0;
	}

	&-3 {
		padding: 3rem 0;
	}

	&-4 {
		padding: 4rem 0;
	}

	&-5 {
		padding: 5rem 0;
	}
}

.px {
	&-1 {
		padding: 0 1rem;
	}

	&-2 {
		padding: 0 2rem;
	}

	&-3 {
		padding: 0 3rem;
	}

	&-4 {
		padding: 0 4rem;
	}

	&-5 {
		padding: 0 5rem;
	}
}

.p {
	&-1 {
		padding: 1rem;
	}

	&-2 {
		padding: 2rem;
	}

	&-3 {
		padding: 3rem;
	}

	&-4 {
		padding: 4rem;
	}

	&-5 {
		padding: 5rem;
	}
}

//margin
.my {
	&-1 {
		margin: 1rem 0;
	}

	&-2 {
		margin: 2rem 0;
	}

	&-3 {
		margin: 3rem 0;
	}

	&-4 {
		margin: 4rem 0;
	}

	&-5 {
		margin: 5rem 0;
	}
}

.mx {
	&-1 {
		margin: 0 1rem;
	}

	&-2 {
		margin: 0 2rem;
	}

	&-3 {
		margin: 0 3rem;
	}

	&-4 {
		margin: 0 4rem;
	}

	&-5 {
		margin: 0 5rem;
	}
}

.m {
	&-1 {
		margin: 1rem;
	}

	&-2 {
		margin: 2rem;
	}

	&-3 {
		margin: 3rem;
	}

	&-4 {
		margin: 4rem;
	}

	&-5 {
		margin: 5rem;
	}
}

//backgrounds
.bg {
	&-primary {
		background-color: $primary-color;
		color: set-text-color($primary-color);
	}

	&-dark {
		background-color: $dark-color;
		color: set-text-color($dark-color);
	}

	&-light {
		background-color: $light-color;
		color: set-text-color($light-color);
	}

	&-medium {
		background-color: $secondary-color;
		color: set-text-color($secondary-color);
	}
}